* {
	box-sizing: border-box;
}

body {
	background-image: url(assets/bg.jpg);
	background-size: cover;
}

.wrapper {
	z-index:2;
	position:relative;
}

.shade {
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	height: 100%;
	background-color: black;
	opacity: .6;
}

.header p > a{
	float: left;
	color: white;
	font-size: 7px;
	text-decoration: none;
	margin-right: 50px;
	margin-top: -3px;
	margin-left: 380px;

}
nav a img {
	width: 20px;
	height: 20px;
	margin-top: -10px;
}
.navbar nav a{
	display: inline-block;
	text-align: center;
	width: 95px;
	text-decoration: none;
	color: white;
	font-size: 6px;
	margin-left: 2px;
	padding: 4px 3px;
	background-color: #B5091A;
	font-family: Arial, monospace;
	border-bottom: 2px solid grey;
}
.navbar {
	margin-top: 1px;
	margin-left: 144px;
}
.topImage img {
	position: relative;	
	width: 398px;
	height: 135px;
	border: 4px solid white;
	display: block;
	margin-left: 146px;
	margin-top: 6px;
}
.logo img {
	position: absolute;
	top: 72px;
	left: 144px;
	width: 170px;
	height: 95px;
	margin-left: 15px;
}
.keeper {
	margin-left: 140px;
	margin-top: 25px;
	background-color: green;
}
.articles {
	float: left;
	width: 130px;
	height: 134px;
	background-color: white;
	border:2px solid black;
	margin-left: 4px;
	font-size: 6px;
	color: lightgrey;
	padding-left: 7px;		
}

.articles h1 {
	font-size: 10px;
	padding-top: 3px;
	padding-left: 0;
	font-family: Arial, monospace;
	font-weight: 500;
	color: black;
}
.articles p + p{
	color: black;
	font-weight: 200;
	font-size: 6px;
}
.articles p + p + p {
	color: #B5091A;
	font-weight: 700;
	font-size: 7px;
	text-align: center;
}
.founders {
	clear: both;
	margin-left: 142px;
	margin-top: 140px;
	width: 270px;
	height: 150px;
}
.founders img {
	position: relative;
	border: 2px solid white;
	vertical-align: top;
	float: left;
	margin-top: 8px;
	margin-left: 4px;
}
.tommy {
	float: right;		
	margin-top: -142px;
	margin-right: 162px;
	border: 2px solid white;
}
.founders img:nth-child(3){
	margin-top: 4px;
}
.decks {
	margin-top: 20px;
	margin-left: 146px;
}
.arrowbody {
	position: absolute;
	width: 100px;
	height: 38px;
	background-color:#B5091A;
	top: 365px;
	left: 20px;
	border-bottom: 1px solid lightgrey; 
}
.arrowbody p {
	display: inline;

}
.arrow {
	position: relative;
	top: -145px;
	left: 120px;
	width: 0;
	height: 0;
	border-top: 18px solid transparent;
	border-bottom: 18px solid transparent;
	border-left: 18px solid #B5091A;
}
span {
	font-size: 11px;
	color: white;
	padding-left: 2px;
	line-height: 39px;
	font-family: Arial;

}
.decks img {
	float: left;
	border: 8px solid white;
}
.contact {
	clear: both;
	margin-left: 146px;
	margin-top: 100px;
	width: 391px;
	height: 150px;
	background-color: white;
}
.contact p:nth-child(1) {
	font-size: 10px;
	font-family: Arial;
	font-weight: 100px;
}
.contactText	 {
	padding: 2px;
	padding-left: 12px;
	font-size: 9px;
}

input {
	display: block;
	margin-top: 8px;
	width: 150px;
	color: lightgrey;
	padding: 1px;
	padding-left: 4px;
	font-size: 8px;
	border-top: 2px solid lightgrey;
}
input[type=text] {
	margin-right: 10px;
}
.contactInput {
	float: right;
	margin-left: 5px;
}
textarea {
	margin-top: 8px;
	margin-left: 10px;
	margin-right: 10px;
	margin-left: 0px;
	border: 2px solid lightgrey;

}
::-webkit-input-placeholder {
	color: lightgrey;
	font-size:8px; 
	padding: 1px;
}
input[type=submit] {
	background-color: #B5091A; 
	width: 100px;
	border:none;
	padding: 3px;
	font-size: 8px;
	margin-left: 47px;		
}
.contactText nav.littleNav a img {
	margin-top: 1px;
	width: 10px;
	height: 10px;
}